{% extends 'eventary/base.html' %}

{% load bootstrap_tags %}
{% load eventary_tags %}
{% load i18n %}

{% block 'extra_head' %}
{{ form.media }}
{% endblock %}

{% block 'content' %}

<h1>{% trans 'Eventary - an inventary for events' %}</h1>

<h2>{% trans 'Calendars' %}</h2>
<p>{% blocktrans with calendar_count=calendar_list|length %}
    There are {{ calendar_count }} calendars with {{ event_count }} published and {{ proposal_count }} proposed events on {{ timedate_count }} dates.
{% endblocktrans %}</p>

{% if calendar_list|length %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Actions' %}</th>
                <th>{% trans 'Groupings' %}</th>
                <th>{% trans '# Events' %}</th>
                <th>{% trans '# Proposals' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendar_list %}
            <tr>
                <td>
                    <a
                    href="{% url 'eventary:anonymous-calendar_details' calendar.pk %}"
                    title="{% blocktrans with calendar_title=calendar.title %}View {{ calendar_title }}{% endblocktrans %}">
                        {{ calendar.title }}
                    </a>
                </td>
                <td>{{ calendar|actions:request.user }}</td>
                <td>{{ calendar.grouping_set.all|join:", " }}</td>
                <td>{{ calendar.num_events }}</td>
                <td>{{ calendar.num_proposals }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<p>{% trans "Cannot find the calendar you're looking for?" %}
<a
 href="{% url 'eventary:management-create_calendar' %}"
 title="{% trans 'Add a new calendar now!' %}">{% trans 'Add a new calendar now!' %}</a></p>

<h2>{% trans 'Events & proposals' %}</h2>

<form class="form-inline" method="get">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group">
                    {{ form|as_bootstrap }}
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary glyphicon glyphicon-search"></button>
            </div>
        </div>
    </div>
</form>

<h3>{% trans 'Upcoming events' %}</h3>
{% if event_list|length %}
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{% trans 'Event' %}</th>
            <th>{% trans 'Actions' %}</th>
            <th>{% trans 'Calendar' %}</th>
            <th>{% trans 'Date & time' %}</th>
            <th>{% trans 'Location' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for event in event_list %}
        <tr>
            <td>
                <a
                 href="{% url 'eventary:anonymous-event_details' event.calendar.pk event.pk %}"
                 title="{% blocktrans with event_title=event.title %}View {{ event_title }}{% endblocktrans %}">
                    {{ event.title }}
                </a>
            </td>
            <td>{{ event|actions:request.user }}</td>
            <td>{{ event.calendar.title }}</td>
            <td>{{ event|to_full_date }}</td>
            <td>{{ event.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if event_list.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if event_list.has_previous %}
        <a
         href="?{% url_replace request 'event_page' event_list.previous_page_number %}"
         title="{% trans 'previous page' %}">{% trans 'previous' %}</a>
        {% endif %}
        <span>{% blocktrans with page_num=event_list.number num_pages=event_list.paginator.num_pages %}
            Page {{ page_num }} of {{ num_pages }}
        {% endblocktrans %}</span>
        {% if event_list.has_next %}
        <a 
            href="?{% url_replace request 'event_page' event_list.next_page_number %}"
            title="{% trans 'next page' %}">{% trans 'next' %}</a>
        {% endif %}
    </div>
    {% endif %}
{% else %}
<p>{% trans 'No upcoming events!' %}</p>
{% endif %}

<h3>{% trans 'Upcoming proposals' %}</h3>

{% if proposal_list|length %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans 'Proposed event' %}</th>
                <th>{% trans 'Actions' %}</th>
                <th>{% trans 'Calendar' %}</th>
                <th>{% trans 'Date & time' %}</th>
                <th>{% trans 'Location' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for event in proposal_list %}
            <tr>
                <td>
                    <a
                     href="{% url 'eventary:anonymous-proposal_details' event.calendar.pk event.pk event.secret.secret %}"
                     title="{% blocktrans with event_title=event.title %}View {{ event_title }}{% endblocktrans %}">
                        {{ event.title }}
                    </a>
                </td>
                <td>{{ event|actions:request.user }}</td>
                <td>{{ event.calendar.title }}</td>
                <td>{{ event|to_full_date }}</td>
                <td>{{ event.location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if proposal_list.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if proposal_list.has_previous %}
        <a
         href="?{% url_replace request 'proposal_page' proposal_list.previous_page_number %}"
         title="{% trans 'previous page' %}">{% trans 'previous' %}</a>
        {% endif %}
        <span>{% blocktrans with page_num=proposal_list.number num_pages=proposal_list.paginator.num_pages %}
            Page {{ page_num }} of {{ num_pages }}
        {% endblocktrans %}</span>
        {% if proposal_list.has_next %}
        <a 
         href="?{% url_replace request 'proposal_page' proposal_list.next_page_number %}"
         title="{% trans 'next page' %}">{% trans 'next' %}</a>
        {% endif %}
    </div>
    {% endif %}
{% else %}
    <p>{% trans 'No upcoming proposed events!' %}</p>
{% endif %}

{% endblock %}
