Django
django-appconf
django-autoslug
django-bootstrap-themes
django-datetimepicker
django_compressor
django-forms-bootstrap
django-formtools
django-imagekit
django-recurrence
django-searchable-select
Django-Select2
django-trix
olefile
Pillow
psycopg2
python-slugify
requests
Unidecode
