{% extends 'eventary/base.html' %}

{% load bootstrap_tags %}
{% load eventary_tags %}
{% load i18n %}

{% block 'js' %}
{% for media in form|media:'js' %}
    {{ media }}
{% endfor %}
{% endblock %}

{% block 'css' %}
{% for media in form|media:'css' %}
    {{ media }}
{% endfor %}
{% endblock %}

{% block 'content' %}

{% comment %}Translators: Calendar detail page{% endcomment %}
{% comment %}Translators: Headers{% endcomment %}
{% trans 'upcoming events' as h_upcoming %}

<h1 style="display: inline-block; padding-right: 15px;">{{ calendar.title }}</h1>

<div style="display: inline-block; vertical-align: 6px;">{{ calendar|actions:request.user }}</div>

<h2>{{ h_upcoming|capfirst }}</h2>

{% include 'eventary/filter_form.html' with form=form %}
{% include 'eventary/lists/events.html' with request=request page=page prefix='event_page' calendar=calendar %}

{% endblock %}
