{% extends 'eventary/base.html' %}

{% load bootstrap_tags %}
{% load i18n %}
{% load static %}

{% block 'extra_head' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
{{ timedateform.media }}
{% endblock %}

{% block 'content' %}

{% trans 'host information' as h_host %}
{% trans 'event information' as h_event %}
{% trans 'grouping information' as h_grouping %}

<h2>{% blocktrans with calendar_title=calendar.title %}
    Propose an event for "{{ calendar_title }}"
{% endblocktrans %}</h2>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h3>{{ h_host|capfirst }}</h3>
    {{ hostform|as_bootstrap }}
    <h3>{{ h_event|capfirst }}</h3>
    {{ eventform|as_bootstrap }}
    {{ timedateform|as_bootstrap }}
    <h3>{{ h_grouping|capfirst }}</h3>
    {{ groupingform|as_bootstrap }}
    <input type="submit" value="{% trans 'propose' %}">
</form>

{% endblock %}
