{% extends 'eventary/base.html' %}

{% load eventary_tags %}
{% load i18n %}
{% load static %}

{% block 'content' %}
<h1>{% trans 'Proposal:' %} {{ event.title }}</h1>

<div>
    {{ event|actions:request.user }}
</div>

<p>{% blocktrans with calls=secret.calls %}
    Today's number of anonymous views: {{ calls }}.
{% endblocktrans %}{% if secret.last_call %}{% blocktrans with last_call=secret.last_call|date %}
    Last anonymous call {{ last_call }}.
{% endblocktrans %}{% endif %}</p>

<h2>{% trans 'Details' %}</h2>

{% include 'eventary/components/event_details_as_table.html' %}

{% if event.description %}
<h3>{% trans 'Description' %}</h3>
<p>{{ event.description }}</p>
{% endif %}

{% if event.document %}
<h3>{% trans 'Downloads' %}</h3>
<div><a
      href="{{ event.document.url }}"
      title="{% trans 'Download info sheet' %}">{% trans 'Download info sheet' %}</a></div>
{% endif %}

<p><a
    href="{% url 'eventary:anonymous-calendar_details' calendar.pk %}"
    title="{% blocktrans with calendar_title=calendar.title %}Back to {{ calendar_title }} {% endblocktrans %}">
    {% blocktrans with calendar_title=calendar.title %}Back to {{ calendar_title }}{% endblocktrans %}</a></p>

{% endblock %}
