{% extends 'eventary/base.html' %}

{% load eventary_tags %}
{% load i18n %}
{% load static %}

{% block 'content' %}
<h2>{{ event.title }}</h2>

<div>
    {{ event|actions:request.user }}
</div>

{% if event.image %}
<img src="{% get_media_prefix %}{{event.image.url }}" title="{{ event.title }}" alt="{{ event.title }}" />
{% endif %}

{% include 'eventary/components/event_details_as_table.html' %}

{% if event.description %}
<h3>{% trans 'description' %}</h3>
<p>{{ event.description }}</p>
{% endif %}

{% if event.document %}
<h3>{% trans 'Downloads' %}</h3>
<div><a
      href="{% get_media_prefix %}{{ event.document.url }}"
      title="{% trans 'download info sheet' %}">{% trans 'download info sheet' %}</a></div>
{% endif %}

<p><a
    href="{% url 'eventary:anonymous-calendar_details' event.calendar.pk %}"
    title="{% blocktrans with calendar_title=event.calendar.title %}Back to {{ calendar_title }}{% endblocktrans %}">
    {% blocktrans with calendar_title=event.calendar.title %}Back to {{ calendar_title }}{% endblocktrans %}
</a></p>

{% endblock %}
