{% load i18n %}
<a class="btn btn-default btn-xs"
   href="{% url 'eventary:anonymous-create_event' calendar.pk %}"
   role="button"
   title="{% blocktrans with calendar_title=calendar.title %}Propose event for {{ calendar_title }}{% endblocktrans %}">
    <i class="glyphicon glyphicon-plus"></i>
</a>
<a class="btn btn-default btn-xs"
   href="{% url 'eventary:editorial-update_event_list' calendar.pk %}"
   role="button"
   title="{% blocktrans with calendar_title=calendar.title %}Show {{ calendar_title }}'s editorial view{% endblocktrans %}">
    <i class="glyphicon glyphicon-th-list"></i>
</a>
