{% load eventary_tags %}
{% load i18n %}
{% load imagekit %}

{% trans 'date & time' as th_date %}
{% trans 'location' as th_location %}
{% trans 'entry fee' as th_fee %}
{% trans 'host' as th_host %}

{% if event.image %}
{% generateimage 'eventary:thumbnail' source=event.image as thumbnail %}
<img src="{{ thumbnail.url }}" title="{{ event.title }}" alt="{{ event.title }}" />
{% endif %}

<table class="table table-striped table-hover">
    <tr>
        <th>{{ th_date|capfirst }}</th>
        <td>{{ event|to_full_date }}</td>
    </tr>
    {% if event.location %}
    <tr>
        <th>{{ th_location|capfirst }}</th>
        <td>{{ event.location }}</td>
    </tr>
    {% endif %}
    {% for grouping, groups in groupings.items %}
    <tr>
        <th>{{ grouping }}</th>
        <td>{{ groups|join:", " }}</td>
    </tr>
    {% endfor %}
    {% if event.prize %}
    <tr>
        <th>{{ th_fee|capfirst }}</th>
        <td>{{ event.prize }}</td>
    </tr>
    {% endif %}
    {% if event.host %}
    <tr>
        <th>{{ th_host|capfirst }}</th>
        <td>{{ event.host.name }}<br />
            {{ event.host.info }}<br />
            {% if event.host.email %}
            <a href="mailto:{{ event.host.email }}">{{ event.host.email }}</a><br />
            {% endif %}
            {{ event.host.phone }}<br />
            {% if event.host.homepage %}
            <a href="{{ event.host.homepage }}">{{ event.host.homepage }}</a><br />
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
