{% load eventary_tags %}
{% load i18n %}

{% trans 'date & time' as th_date %}
{% trans 'location' as th_location %}
{% trans 'entry fee' as th_fee %}
{% trans 'host' as th_host %}
{% trans 'description' as th_description %}
{% trans 'downloads' as th_downloads %}
{% trans 'download info sheet' as btn_download_title %}
{% trans 'download info sheet' as btn_download_text %}

<table class="table table-striped table-hover">
    <tr>
        <th>{{ th_date|capfirst }}</th>
        <td>{{ event|to_full_date }}</td>
    </tr>
    {% if event.location %}
    <tr>
        <th>{{ th_location|capfirst }}</th>
        <td>
            <p>{{ event.location }}</p>
            <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ event.location|urlencode }}&zoom=15&size=600x300&maptype=roadmap&markers=color:red|{{ event.location|urlencode }}&key={% google_maps_api_key %}" width="600" height="300">
        </td>
    </tr>
    {% endif %}
    {% for grouping, groups in groupings.items %}
    <tr>
        <th>{{ grouping }}</th>
        <td>{{ groups|join:", " }}</td>
    </tr>
    {% endfor %}
    {% if event.prize %}
    <tr>
        <th>{{ th_fee|capfirst }}</th>
        <td>{{ event.prize }}</td>
    </tr>
    {% endif %}
    {% if event.host %}
    <tr>
        <th>{{ th_host|capfirst }}</th>
        <td>{{ event.host.name }}<br />
            {{ event.host.info }}<br />
            {% if event.host.email %}
            <a href="mailto:{{ event.host.email }}">{{ event.host.email }}</a><br />
            {% endif %}
            {{ event.host.phone }}<br />
            {% if event.host.homepage %}
            <a href="{{ event.host.homepage }}">{{ event.host.homepage }}</a><br />
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if event.description %}
    <tr>
        <th>{{ th_description|capfirst }}</th>
        <td>{{ event.description }}</td>
    </tr>
    {% endif %}
    {% if event.document %}
    <tr>
        <th>{{ th_downloads|capfirst}}</th>
        <td>
            <a class="btn btn-primary"
               href="{{ event.document.url }}"
               title="{{ btn_download_title|capfirst }}">
                {{ btn_download_text|capfirst }}
            </a>
        </td>
    </tr>
    {% endif %}
</table>
