{% load eventary_tags %}

<table class="table table-striped table-hover">
    <tr>
        <th>Date & time</th><td>{{ event|to_full_date }}</td>
    </tr>
    <tr>
        <th>Location</th><td>{{ event.location }}</td>
    </tr>
    {% for grouping, groups in groupings.items %}
    <tr>
        <th>{{ grouping }}</th><td>{{ groups|join:", " }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Entry fee</th><td>{{ event.prize }}</td>
    </tr>
    <tr>
        <th>Host</th><td>{{ event.host }}</td>
    </tr>
</table>
