{% extends 'eventary/base.html' %}

{% load bootstrap_tags %}
{% load eventary_tags %}
{% load i18n %}

{% block 'extra_head' %}
{{ form.media }}
{% endblock %}

{% block 'content' %}

{% comment %}Translators: Landing page for editorial users{% endcomment %}
{% comment %}Translators: Title (first header){% endcomment %}
{% trans 'Eventary - an inventary for events' as h_title %}
{% comment %}Translators: Headers{% endcomment %}
{% trans 'calendars' as h_calendars %}
{% trans 'filter events' as h_event_filter %}
{% trans 'upcoming events' as h_upcoming_events %}
{% trans 'upcoming proposals' as h_upcoming_proposals %}
{% comment %}Translators: Table headers{% endcomment %}
{% trans 'title' as th_title %}
{% trans 'actions' as th_actions %}
{% trans '# events' as th_nr_events %}
{% trans '# proposals' as th_nr_proposals %}
{% trans 'event' as th_event %}
{% trans 'proposal' as th_proposal %}
{% trans 'calendar' as th_calendar %}
{% trans 'date & time' as th_date_time %}
{% trans 'location' as th_location %}
{% comment %}Translators: Search button title{% endcomment %}
{% trans 'search events matching the filter parameters' as btn_search_title %}
{% trans 'search' as btn_search_text %}
{% comment %}Translators: Event pagination{% endcomment %}
{% comment %}Translators: Title of the previous page link{% endcomment %}
{% trans 'previous page' as pag_prev_title %}
{% comment %}Translators: Text of the previous page link{% endcomment %}
{% trans 'previous' as pag_prev_text %}
{% comment %}Translators: Title of the next page link{% endcomment %}
{% trans 'next page' as pag_next_title %}
{% trans 'next' as pag_next_text %}
{% comment %}Translators: Replacement text when no event was found{% endcomment %}
{% trans 'No upcoming events!' as no_events %}
{% comment %}Translators: Text to incite the user to propose an event{% endcomment %}
{% trans "You cannot find the event you're looking for?" as cannot_find_event %}
{% comment %}Translators: The title of the ropose event button {% endcomment %}
{% trans 'Propose an event now!' as btn_propose_title %}
{% comment %}Translators: The text of the ropose event button {% endcomment %}
{% trans 'Propose your event now!' as btn_propose_text %}
{% comment %}Translators: Replacement text when no proposal was found{% endcomment %}
{% trans 'No proposed events!' as no_proposals %}

<h1>{{ h_title|capfirst }}</h1>

{% if calendar_list.count > 1 %}
<h2>{{ h_calendars|capfirst }}</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ th_title|capfirst }}</th>
            <th>{{ th_actions|capfirst }}</th>
            <th>{{ th_nr_events|capfirst }}</th>
            <th>{{ th_nr_proposals|capfirst }}</th>
        </tr>
    </thead>
    {% for calendar in calendar_list %}
    <tr>
        <td>
            <a href="{% url 'eventary:anonymous-calendar_details' calendar.pk %}"
               {% comment %}Translators: The title of the link to the calendar details view{% endcomment %}
               title="{% blocktrans with calendar_title=calendar.title %}View {{ calendar_title }}.{% endblocktrans %}">
                {{ calendar.title }}
            </a>
        </td>
        <td>{{ calendar|actions:request.user }}</td>
        <td>{{ calendar.num_events }}</td>
        <td>{{ calendar.num_proposals }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h2>{{ h_event_filter|capfirst }}</h2>
<form class="form-inline" method="get">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group">
                    {{ form|as_bootstrap }}
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit"
                        class="btn btn-primary glyphicon glyphicon-search"
                        title="{{ btn_search_title|capfirst }}">
                    {{ btn_search_text|capfirst }}
                </button>
            </div>
        </div>
    </div>
</form>

<h2>{{ h_upcoming_events|capfirst }}</h2>
{% if event_page %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ th_event|capfirst }}</th>
            <th>{{ th_actions|capfirst }}</th>
            <th>{{ th_calendar|capfirst }}</th>
            <th>{{ th_date_time|capfirst }}</th>
            <th>{{ th_location|capfirst }}</th>
        </tr>
    </thead>
    <tbody>
        {% for event in event_page %}
        <tr>
            <td>
                <a href="{% url 'eventary:anonymous-event_details' event.calendar.pk event.pk %}"
                   {% comment %}Translators: The title of the link to the event details view{% endcomment %}
                   title="{% blocktrans with event_title=event.title %}View {{ event_title }}.{% endblocktrans %}">
                    {{ event.title }}
                </a>
            </td>
            <td>{{ event|actions:request.user }}</td>
            <td>{{ event.calendar.title }}</td>
            <td>{{ event|to_full_date }}</td>
            <td>{{ event.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% if event_page.paginator.num_pages > 1 %}
    <ul class="pagination">
        {% if event_page.has_previous %}
        <li class="page-item">
            <a href="?{% url_replace request 'event_page' event_page.previous_page_number %}"
               title="{{ pag_prev_title|capfirst }}">
                {{ pag_prev_text|capfirst }}
            </a>
        </li>
        {% endif %}
        {% for page_number in event_page.paginator.page_range %}
        <li class="page-item">
            <a href="?{% url_replace request 'event_page' page_number %}"
               {% comment %}Translators: The title of the link to a given page number in the paginator{% endcomment %}
               title="{% blocktrans %}Go to {{ page_number }}.{% endblocktrans %}">
                {{ page_number }}
            </a>
        </li>
        {% endfor %}
        {% if event_page.has_next %}
        <li class="page-item">
            <a href="?{% url_replace request 'event_page' event_page.next_page_number %}"
               title="{{ pag_next_title|capfirst }}">
                {{ pag_next_text|capfirst }}
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

{% else %}
<em>{{ no_events}}</em>
{% endif %}

<h2>{{ h_upcoming_proposals|capfirst }}</h2>
{% if proposal_page %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ th_proposal|capfirst }}</th>
            <th>{{ th_actions|capfirst }}</th>
            <th>{{ th_calendar|capfirst }}</th>
            <th>{{ th_date_time|capfirst }}</th>
            <th>{{ th_location|capfirst }}</th>
        </tr>
    </thead>
    <tbody>
    {% for event in proposal_page %}
        <tr>
            <td>
                <a href="{% url 'eventary:anonymous-proposal_details' event.calendar.pk event.pk event.secret.secret %}"
                   {% comment %}Translators: The title of the link to the proposal details view{% endcomment %}
                   title="{% blocktrans with event_title=event.title %}View {{ event_title }}{% endblocktrans %}">
                    {{ event.title }}
                </a>
            </td>
            <td>{{ event|actions:request.user }}</td>
            <td>{{ event.calendar.title }}</td>
            <td>{{ event|to_full_date }}</td>
            <td>{{ event.location }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {% if proposal_page.paginator.num_pages > 1 %}
    <ul class="pagination">
        {% if proposal_page.has_previous %}
        <li class="page-item">
            <a href="?{% url_replace request 'proposal_page' proposal_page.previous_page_number %}"
               title="{{ pag_prev_title|capfirst }}">
                {{ pag_prev_text|capfirst }}
            </a>
        </li>
        {% endif %}
        {% for page_number in proposal_page.paginator.page_range %}
        <li class="page-item">
            <a href="?{% url_replace request 'proposal_page' page_number %}"
               {% comment %}Translators: The title of the link to a given page number in the paginator{% endcomment %}
               title="{% blocktrans %}Go to {{ page_number }}.{% endblocktrans %}">
                {{ page_number }}
            </a>
        </li>
        {% endfor %}
        {% if proposal_page.has_next %}
        <li class="page-item">
            <a href="?{% url_replace request 'event_page' proposal_page.next_page_number %}"
               title="{{ pag_next_title|capfirst }}">
                {{ pag_next_text|capfirst }}
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

{% else %}
<em>{{ no_proposals}}</em>
{% endif %}

{% if calendar_list.count == 1 %}
<p>
    {{ cannot_find_event }}
    <a class="btn btn-primary"
       href="{% url 'eventary:anonymous-create_event' calendar_list.first.pk %}"
       title="{{ btn_propose_title|capfirst }}">
        {{ btn_propose_text|capfirst }}
    </a>
</p>
{% endif %}

{% endblock %}
