{% extends 'eventary/base.html' %}

{% load bootstrap_tags %}
{% load eventary_tags %}
{% load i18n %}

{% block 'extra_head' %}
{{ form.media }}
{% endblock %}

{% block 'content' %}

{% comment %}Translators: Calendar detail page{% endcomment %}
{% comment %}Translators: Headers{% endcomment %}
{% trans 'upcoming events' as h_upcoming %}
{% comment %}Translators: Search button title{% endcomment %}
{% trans 'search events matching the filter parameters' as btn_search_title %}
{% trans 'search' as btn_search_text %}
{% comment %}Translators: Table headers{% endcomment %}
{% trans 'event' as th_event %}
{% trans 'actions' as th_actions %}
{% trans 'date & time' as th_date_time %}
{% trans 'location' as th_location %}
{% comment %}Translators: Replacement text when no event was found{% endcomment %}
{% trans 'No upcoming events!' as no_events %}
{% comment %}Translators: Text to incite the user to propose an event{% endcomment %}
{% trans "You cannot find the event you're looking for?" as cannot_find_event %}
{% comment %}Translators: The title of the ropose event button {% endcomment %}
{% trans 'Propose an event now!' as btn_propose_title %}
{% comment %}Translators: The text of the ropose event button {% endcomment %}
{% trans 'Propose your event now!' as btn_propose_text %}

<h1>{{ calendar.title }}</h1>

<h2>{{ h_upcoming|capfirst }}</h2>
<form class="form-inline" method="get">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group">
                    {{ form|as_bootstrap }}
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit"
                        class="btn btn-primary glyphicon glyphicon-search"
                        title="{{ btn_search_title|capfirst }}">
                    {{ btn_search_text|capfirst }}
                </button>
            </div>
        </div>
    </div>
</form>

{% if page %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ th_event|capfirst }}</th>
            <th>{{ th_actions|capfirst }}</th>
            <th>{{ th_date_time|capfirst }}</th>
            <th>{{ th_location|capfirst }}</th>
        </tr>
    </thead>
    <tbody>
    {% for proposal in page %}
        <tr>
            <td>
                <a href="{% url 'eventary:anonymous-proposal_details' proposal.calendar.pk proposal.pk proposal.secret.secret %}"
                   {% comment %}Translators: The title of the link to the proposal details view{% endcomment %}
                   title="{% blocktrans with proposal_title=proposal.title %}View {{ proposal_title }}{% endblocktrans %}">
                    {{ proposal.title }}
                </a>
            </td>
            <td>{{ proposal|actions:request.user }}</td>
            <td>{{ proposal|to_full_date }}</td>
            <td>{{ proposal.location }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% page_navigation page request 'proposal_page'  %}

{% else %}
<p>{{ cannot_find_event }}</p>
<a class="btn btn-primary"
   href="{% url 'eventary:anonymous-create_event' calendar.pk %}"
   title="{{ btn_propose_title|capfirst }}">
    {{ btn_propose_text|capfirst }}
</a>
{% endif %}


{% endblock %}
