{% extends 'eventary/base.html' %}

{% load bootstrap_tags %}
{% load i18n %}
{% load static %}

{% block 'js' %}
{% for media in timedateform|media:'js' %}
    {{ media }}
{% endfor %}
{% endblock %}

{% block 'css' %}
{% for media in timedateform|media:'css' %}
    {{ media }}
{% endfor %}
{% endblock %}

{% block 'content' %}

{% comment %}Translators: Update page for events{% endcomment %}
{% comment %}Translators: Headers{% endcomment %}
{% trans 'event information' as h_event %}
{% trans 'date & time information' as h_timedate %}
{% comment %}Translators: Submit button title{% endcomment %}
{% trans 'update the event' as btn_submit_title %}
{% comment %}Translators: Submit button text{% endcomment %}
{% trans 'update' as btn_submit_text %}

{% comment %}Translators: Title (first header){% endcomment %}
<h1>{% blocktrans with event_title=event.title %}Update {{ event_title }}{% endblocktrans %}</h1>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h2>{{ h_event|capfirst }}</h2>
    <div class="eventform">{{ eventform|as_bootstrap }}</div>
    {% if calendar.grouping_set.count %}
    <div class="groupingform">{{ groupingform|as_bootstrap }}</div>
    {% endif %}
    <h2>{{ h_timedate|capfirst }}</h2>
    <div class="timedateform">{{ timedateform|as_bootstrap }}</div>
    <button type="submit"
            class="btn btn-primary"
            title="{{ btn_submit_title|capfirst }}">
        {{ btn_submit_text|capfirst }}
    </button>
</form>

{% endblock %}
