{% extends 'eventary/base.html' %}

{% load bootstrap_tags %}
{% load i18n %}
{% load static %}

{% block 'extra_head' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
{{ timedateform.media }}
{% endblock %}

{% block 'content' %}
<h2>{% blocktrans with event_title=event.title %}Update {{ event_title }}{% endblocktrans %}</h2>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
    {{ eventform|as_bootstrap }}
    {{ timedateform|as_bootstrap }}
    {{ groupingform|as_bootstrap }}
    </table>
    {% for hidden in timedateform.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <input type="submit" value="{% trans 'update' %}">
</form>

{% endblock %}
