<div class="navbar-header">
  <a class="navbar-brand" href="{% url 'eventary:redirector' %}">Home</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"
        role="button" aria-expanded="false">Calendars <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'eventary:editorial-list_calendars' %}">List Calendars</a></li>
      </ul>
    </li>
  </ul>
</div>
